@using YatriiWorld.MVC.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model List<GetCategoryItemVM>

    @foreach(var category in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@category.Name</h5> 
                </div>
        </div>
}
)